<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"
	default-lazy-init="false">
	        
  <bean id="accountService" class="com.maxm.account.service.AccountService" scope="singleton" lazy-init="true" init-method="init" destroy-method="destroy">
  	<property name="accountDao" ref="accountDao"/>
  </bean>
	<bean id="accountDao" class="com.maxm.account.dao.AccountDao" scope="singleton" lazy-init="true">
		<property name="desc" value="accountDao desc"></property>
	</bean>

</beans>